<md-toolbar color="primary">
  Photo Bucket
  <span fxFlex></span>
<div *ngIf="authService.isSignedInStream | async">
 {{authService.displayNameStream | async}}
<button md-icon-button [mdMenuTriggerFor]="signOutMenu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu [overlapTrigger]="false" #signOutMenu="mdMenu">
  <button md-menu-item (click)="signOut()" [routerLink]="['/signin']" routerLinkActive="active">Sign Out</button>
</md-menu>
 </div>
</md-toolbar>
<div fxLayoutAlign="center center">
<div class="container" fxFlex fxFlex.md="960px" fxFlex.gt-md="1000px">
<router-outlet></router-outlet>
</div>
</div>